<div class="main-screen" *ngIf="employees | async as data">
    <!-- <div class="container"> -->
        <div class="container" *ngIf="author | async as user">
        <h5>Employees
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="click()"
                *ngIf="user.authorities[0].authority == 'ROLE_MANAGER' || user.authorities[0].authority == 'ROLE_DIRECTOR' || user.authorities[0].authority == 'ROLE_ADMIN' "></i>
            <!-- <i class="fa fa-plus-circle" aria-hidden="true" (click)="click()"></i> -->
        </h5>
        <table>
            <tr>
                <th (click)="sortEmployeeBy('id')">Id</th>
                <th (click)="sortEmployeeBy('firstName')">First name</th>
                <th (click)="sortEmployeeBy('lastName')">Last name</th>
                <th (click)="sortEmployeeBy('emailAddress')">Email</th>
            </tr>
            <tr *ngFor="let employee of data._embedded.employees" [routerLink]="['details',employee.id]">
                <td>{{employee.id}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.emailAddress}}</td>
            </tr>
        </table>
        <div class="pagination">

            <a *ngFor="let page of counter(totalPages); let i = index" (click)="loadPage(i)">{{i + 1}}</a>

        </div>
    </div>

    <div [class]="modalClass">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" (click)="click()">&times;</span>
                <h2>Add Employee</h2>
            </div>
            <div class="container" [formGroup]="employeeForm">
                <h5>Employee Information</h5>
                <div class="h-container">
                    <!-- <div><span class="label">Username</span><input type="text">
                    </div>
                    <div><span class="label">Password</span><input type="password">
                    </div> -->
                    <div><span class="label">First Name</span><input type="text" formControlName="firstName">
                    </div>
                    <div><span class="label">Last Name</span><input type="text" formControlName="lastName">
                    </div>
                    <div><span class="label">Company</span><input type="text" formControlName="company"></div>
                    <div><span class="label">Job Title</span><input type="text" formControlName="jobTitle"></div>

                </div>
                <div class="h-container">
                    <!-- <div><span class="label">Business Phone</span><input type="text" formControlName="bussinessPhone">
                    </div> -->
                    <div><span class="label">Home Phone</span><input type="text" formControlName="homePhone">
                    </div>
                    <div><span class="label">Mobile Phone</span><input type="text" formControlName="mobilePhone">
                    </div>
                    <div><span class="label">Fax Number</span><input type="text" formControlName="faxNumber">
                    </div>
                </div>
                <div class="h-container">
                    <div><span class="label">Street</span><input type="text" formControlName="street">
                    </div>
                    <div><span class="label">City</span><input type="text" formControlName="city">
                    </div>
                    <div><span class="label">State/Provine</span><input type="text" formControlName="state">
                    </div>
                    <!-- <div><span class="label">Zip/Postal code</span><input type="text" formControlName="zip">
                    </div> -->
                    <div><span class="label">Country/Region</span><input type="text" formControlName="country">
                    </div>
                    <div><span class="label">Email</span><input type="text" formControlName="emailAddress">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn-success" (click)="create()">Add</button>
            </div>
        </div>

    </div>

</div>