<div class="main-screen" *ngIf="employee | async as employeeData">
    <h4 class="project-name">Employee - {{employeeData.firstName}}</h4>
    <div class="details">
        <div class="container">
            <h5>Informations <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="click()"></i></h5>
            <div class="h-container">
                <div><span class="label">First Name</span>{{employeeData.firstName}}</div>
                <div><span class="label">Last Name</span>{{employeeData.lastName}}</div>
                <div><span class="label">Company</span>{{employeeData.firstName}}</div>
                <div><span class="label">Job Title</span>{{employeeData.firstName}}</div>

            </div>
            <div class="h-container">
                <div><span class="label">Business Phone</span>{{employeeData.bussinessPhone}}</div>
                <div><span class="label">Home Phone</span>{{employeeData.homePhone}}</div>
                <div><span class="label">Mobile Phone</span>{{employeeData.mobilePhone}}</div>
                <div><span class="label">Fax Number</span>{{employeeData.faxNumber}}</div>
            </div>
            <div class="h-container">
                <div><span class="label">Street</span>{{employeeData.street}}</div>
                <div><span class="label">City</span>{{employeeData.city}}</div>
                <div><span class="label">State/Provine</span>{{employeeData.state}}</div>
                <div><span class="label">Zip/Postal code</span>{{employeeData.zip}}</div>
                <div><span class="label">Country/Region</span>{{employeeData.country}}</div>
            </div>
            <div class="h-container">
                <div><span class="label">Email</span>{{employeeData.emailAddress}}</div>
            </div>
        </div>
        <div class="container">
            <div class="inside-container">

                <div class="h-container" *ngIf="projects | async as projectsData">
                    <h5>Projects</h5>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Priority</th>
                            <th>Status</th>
                        </tr>
                        <tr *ngFor="let project of projectsData._embedded.projects">
                            <td>{{project.projectName}}</td>
                            <td>{{project.priority}}</td>
                            <td>{{project.status}}</td>
                        </tr>

                    </table>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
                <div class="h-container">
                    <div [chart]="pieChartProject"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inside-container">

                <div class="h-container" *ngIf="tasks | async as tasksData">
                    <h5>Tasks</h5>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Status</th>
                        </tr>
                        <tr *ngFor="let task of tasksData._embedded.tasks">
                            <td>{{task.title}}</td>
                            <td *ngIf="(task.project | project) | async as project">{{project.projectName}}</td>
                            <td>{{task.status}}</td>
                        </tr>

                    </table>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
                <div class="h-container">
                    <div [chart]="pieChartTask"></div>
                </div>
            </div>
        </div>
    </div>

    <div [class]="modalClass">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" (click)="click()">&times;</span>
                <h2>Add Employee</h2>
            </div>
            <div class="container" [formGroup]="employeeForm">
                <h5>Employee Information</h5>
                <div class="h-container">
                    <div><span class="label">First Name</span><input type="text" formControlName="firstName"
                            value="firstName">
                    </div>
                    <div><span class="label">Last Name</span><input type="text" formControlName="lastName"
                            value="lastName">
                    </div>
                    <div><span class="label">Company</span><input type="text" formControlName="company"
                            value="emailAddress"></div>
                    <div><span class="label">Job Title</span><input type="text" formControlName="jobTitle"
                            value="bussinessPhone"></div>

                </div>
                <div class="h-container">
                    <!-- <div><span class="label">Business Phone</span><input type="text" formControlName="bussinessPhone"
                            value="homePhone">
                    </div> -->
                    <div><span class="label">Home Phone</span><input type="text" formControlName="homePhone"
                            value="mobilePhone">
                    </div>
                    <div><span class="label">Mobile Phone</span><input type="text" formControlName="mobilePhone"
                            value="faxNumber">
                    </div>
                    <div><span class="label">Fax Number</span><input type="text" formControlName="faxNumber"
                            value="faxNumber">
                    </div>
                </div>
                <div class="h-container">
                    <div><span class="label">Street</span><input type="text" formControlName="street" value="street">
                    </div>
                    <div><span class="label">City</span><input type="text" formControlName="city" value="city">
                    </div>
                    <div><span class="label">State/Provine</span><input type="text" formControlName="state"
                            value="state">
                    </div>
                    <!-- <div><span class="label">Zip/Postal code</span><input type="text" formControlName="zip" value="zip">
                    </div> -->
                    <div><span class="label">Country/Region</span><input type="text" formControlName="country"
                            value="country">
                    </div>
                </div>
                <div class="h-container">
                    <div><span class="label">Email</span><input type="text" formControlName="emailAddress"
                            value="emailAddress">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-success" (click)="update(employeeData)">Update</button>
            </div>
        </div>

    </div>

</div>