<div class="main-screen">
    <h4 class="project-name">Employee - Le Tu</h4>
    <div class="details">
        <div class="container">
            <h5>Informations</h5>
            <div class="h-container">
                <div><span class="label">First Name</span><input type="text" value="Le Tu"></div>
                <div><span class="label">Last Name</span><input type="text" value="Insuarance"></div>
                <div><span class="label">Company</span><input type="text" value="High"></div>
                <div><span class="label">Job Title</span><input type="text" value="High"></div>

            </div>
            <div class="h-container">
                <div><span class="label">Business Phone</span><input type="text" value="Open"></div>
                <div><span class="label">Home Phone</span><input type="text" value="Open"></div>
                <div><span class="label">Mobile Phone</span><input type="text" value="Open"></div>
                <div><span class="label">Fax Number</span><input type="text" value="Open"></div>
            </div>
            <div class="h-container">
                <div><span class="label">Street</span><input type="text" value="Open"></div>
                <div><span class="label">City</span><input type="text" value="Open"></div>
                <div><span class="label">State/Provine</span><input type="text" value="Open"></div>
                <div><span class="label">Zip/Postal code</span><input type="text" value="Open"></div>
                <div><span class="label">Country/Region</span><input type="text" value="Open"></div>
            </div>
            <div class="h-container">
                <div><span class="label">Email</span><input type="text" value="Open"></div>
                <div><span class="label">Webpage</span><input type="text" value="Open"></div>
            </div>
        </div>
        <div class="container">
            <div class="h-container">
                <h5>Projects</h5>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Berglunds snabbköp</td>
                        <td>Christina Berglund</td>
                        <td>Sweden</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Königlich Essen</td>
                        <td>Philip Cramer</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                    <tr>
                        <td>North/South</td>
                        <td>Simon Crowther</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Paris spécialités</td>
                        <td>Marie Bertrand</td>
                        <td>France</td>
                    </tr>
                </table>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
            <div class="h-container">
                <h5>Tasks</h5>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Berglunds snabbköp</td>
                        <td>Christina Berglund</td>
                        <td>Sweden</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Königlich Essen</td>
                        <td>Philip Cramer</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                    <tr>
                        <td>North/South</td>
                        <td>Simon Crowther</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Paris spécialités</td>
                        <td>Marie Bertrand</td>
                        <td>France</td>
                    </tr>
                </table>
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>