<div class="main-screen">
    <h4 class="project-name">HKMC - Add design</h4>
    <div class="details">
        <div class="container">
            <h5>Project details</h5>
            <div class="h-container">
                <div><span class="label">Assignee</span><input type="text" value="Le Tu"></div>
                <div><span class="label">% Complete</span><input type="number" value="50"></div>
                <div><span class="label">Priority</span><input type="text" value="High"></div>
                <div><span class="label">Status</span><input type="text" value="Open"></div>
            </div>
            <div class="h-container">
                <div><span class="label">Start Date</span><input type="date" value="11-07-2021"></div>
                <div><span class="label">Due Date</span><input type="date" value="11-07-2021"></div>
                <div><span class="label">Cost</span><input type="number" value="500"></div>
                <div><span class="label">Cost In Days</span><input type="number" value="50"></div>
            </div>
            <h5>Description</h5>
            <textarea name="desc" style="width: 100%; height: 5rem;"></textarea>

        </div>
        <div class="container">
            <h5>Sub-Tasks</h5>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Berglunds snabbköp</td>
                    <td>Christina Berglund</td>
                    <td>Sweden</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr>
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Königlich Essen</td>
                    <td>Philip Cramer</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                </tr>
                <tr>
                    <td>North/South</td>
                    <td>Simon Crowther</td>
                    <td>UK</td>
                </tr>
                <tr>
                    <td>Paris spécialités</td>
                    <td>Marie Bertrand</td>
                    <td>France</td>
                </tr>
            </table>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a class="active" href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>