<nav class="item-list">
  <div class="list-title" >
    <span>Projects     <i class="fa fa-plus-circle" aria-hidden="true" (click)="clickShowCreateModal()"></i></span>
  </div>
  <div class="sort-panel">
    <div class="sort-panel-item" (click)="sortProjectBy('status')">Status</div>
    <div class="sort-panel-item" (click)="sortProjectBy('createdDate')">Created</div>
    <!-- <div class="sort-panel-item" (click)="sortProjectBy('projectName')"></div> -->
  </div>
  <div class="items"*ngIf="projects | async as data">
    <div *ngFor="let project of data._embedded.projects" class="list-container">
      <div class="item in-progress" [routerLink]="['details', project.id]">
        <span class="item-name">{{ project.projectName | uppercase }}</span>
        <span class="item-name"> Created: {{ project.createdDate | date:'dd/MM/yyyy' }}</span>
        <span [class]="project.status">{{ project.status }}</span>
        <span [class]="project.priority">{{ project.priority }}</span>
      </div>
      <div class="bages">Expire in {{project.endDate | amDifference: today :'days' : true }} days</div>
    </div>
  </div>
  
</nav>
<!-- <nav class="item-list-2">
  <div class="add-item">
    <button (click)="clickShowCreateModal()">Add project</button>
  </div>
</nav> -->

<!-- Modal content -->
<div [class]="modalCreateClass">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="clickShowCreateModal()">&times;</span>
      <h2>Create Project</h2>
    </div>
    <div class="container" [formGroup]="project">
      <h5>Project details</h5>
      <div class="h-container">
        <div><span class="label">Project Name</span><input formControlName="projectName" ></div>
        <div *ngIf="employees | async as employeeData">
          <span class="label">Owner</span>
          <select type="text" formControlName="owner">
            <option *ngFor="let employee of employeeData._embedded.employees" [value]="employee.id">{{employee.firstName + " " + employee.lastName}}</option>
          </select>
        </div>
        <div><span class="label">Category</span><input type="text" formControlName="category" ></div>
        <div>
          <span class="label">Priority</span>
          <select type="text" formControlName="priority" >
            <option value="HIGH">High</option>
            <option value="NORMAL">Normal</option>
            <option value="LOW">Low</option>
          </select>
        </div>
      </div>
      <div class="h-container">
        <div><span class="label">Start</span><input type="date" formControlName="startDate"></div>
        <div><span class="label">End</span><input type="date" formControlName="endDate"></div>
        <div><span class="label">Budget</span><input type="number" formControlName="budget"></div>
        <div><span class="label">Budget In Days</span><input type="number" formControlName="budgetInDays">
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn-success" (click)="create()">Add</button>
    </div>
  </div>
</div>
<!-- Modal content -->