<nav class="sidebar">
    <a routerLink="project"  routerLinkActive="active" class="menu-item">
        <fa-icon [icon]="['far', 'folder']"></fa-icon>
        <span>Projects</span>
    </a>
    <a routerLink="task" routerLinkActive="active" class="menu-item">
        <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
        <span>Tasks</span>
    </a>
    <a routerLink="employee" routerLinkActive="active" class="menu-item">
        <fa-icon [icon]="['far', 'user']"></fa-icon>
        <span>Employees</span>
    </a>
</nav>