<nav class="item-list">
    <div class="list-title">
        <span>Tasks</span>
    </div>
    <div class="list-container">
        <div class="item in-progress">
            <span class="item-name">HKMC - Add design</span>
        </div>
        <div class="item open">
            <span class="item-name">HKMC - Edit design</span>
        </div>
        <div class="item open">
            <span class="item-name">HKMC - Remove code</span>
        </div>
    </div>
    <div class="add-item">
        <button>Add task</button>
    </div>
</nav>