@import "~font-awesome/css/font-awesome.css";

.item-list{
    height: 100vh;
    width: 350px;
    background: #f7f7f7;
    margin-left: 75px;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.list-title{
    padding: 20px;
    font-weight: bold;
}
.list-container{
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.list-container:hover .bages{
    visibility: visible;
    right: 10px;
}

.bages{
    right: -150px;
    top: 9px;
    position: absolute;
    padding: 7px;
    z-index: 2000;
    background: #a1a19840;
    width: 100px;

    -webkit-transition: right 0.5s ease-in-out;
    -moz-transition: right 0.5s ease-in-out;
    -o-transition: right 0.5s ease-in-out;
    transition: right 0.5s ease-in-out;
    
}
.item{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: solid 1px#dbdbdb;
}

.items{
    height: 80%;
    overflow: overlay;
}
.item:hover{
    background-color: white;
    color: black;

}
.item::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: tomato;
}
.item-name{
    display: block;
}

.sort-panel{
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 1em;
    justify-content: space-around;
    height: 18px;
}

.sort-button{
    display: flex;
    width: 30%;
}

.sort-panel-item-left{
    width: 80%;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    /* border-bottom: solid 1px#dbdbdb; */
    /* width: 20px;
    height: 2%; */
    /* padding-top: 8px; */
    background-color: #51A2D5;
    color: white;
    height: 19px;
    border-color: #4b48f8;
    /* border-left-width: 1px; */
    border-right-style: solid;
    border-width: 3px;
    appearance: none;
	/* padding: 5px; */
	/* background-color: #4834d4; */
	color: white;
	border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
	/* font-family: inherit; */
	/* outline: none; */
}
.sort-panel-item-right{
    width: 20%;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    /* border-bottom: solid 1px#dbdbdb; */
    /* width: 20px;
    height: 2%; */
    /* padding-top: 8px; */
    background-color: #51A2D5;
    color: white;
    height: 19px;
}
.sort-panel-item:hover {
    background-color: #99a6f1;
    color: black;
    padding-bottom: 5px;
}

.INPROGRESS{
    background-color: #465ee0;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.OPEN{
    background-color: #9e9e9e;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.WAITING{
    background-color: #ec1dae;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.DEFERRED{
    background-color: #9e9e9e;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 17px;
    color: white;
}
.COMPLETED{
    background-color: #0fa523;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: white;
}

.HIGH{
    background-color: red;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.NORMAL{
    background-color: orange;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.LOW{
    background-color: #b5da42;
    font-size: 11px;
    padding-bottom: 3px;
    border-radius: 10px;
    padding-left: 22px;
    padding-right: 22px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.sub-task{
    background-color: #9e9e9e;
    font-size: 11px;
    padding-top: 3px;
    border-radius: 10px;
    padding-left: 13px;
    padding-right: 13px;
    color: white;
}

.add-item{
    bottom: 35px;
    width: 100%;
    position: absolute;
}
.add-item button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 2rem;
    width: 200px;
    background-color: white;
    border: solid 1px #e5e5e5;
    cursor: pointer;
}
.add-item button:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

/* Modals css */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .modal-sub-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #505050;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #505050;
    color: white;
  }
.modal{
    display: none;
}
.show{
    display: flex;
}

/* Modal content */

.container{
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 1em;
}

.h-container{
    width: 50%;
    display: inline-grid;
}

.h-container input{
    width: 199px;
    padding: 1px;
    height: 15px;
}

.h-container select{
    width: 205px;
    padding: 1px;
}

.label{
    width: 150px;
    display: inline-block;
}

.btn-success{
    font-weight: 0.1rem;
    margin: 0.375rem ;
    color: #070707;
    background-color: white;
    background-image: none;
    border-color: black;
    border-radius: 0.25rem;
    border: 1px solid #28a745;
    padding: 0.375rem 0.75rem;
}

/* scroll bar width */

::-webkit-scrollbar {
    width: 1px;
  }

/* scroll bar width */